# Downloaded catalogs and output files
/data
/output/*.dat
/celestia*.zip

# Python cache and virtual environment
*.pyc
__pycache__
/myenv

# Rust files

/target
/celestia_gaia/celestia_gaia.*

# Editor working files
.vscode
*.kate-swp
