# Downloaded catalogs and output files
/auxfiles/*
!/auxfiles/CREDITS.md
!/auxfiles/LICENSE.txt
!/auxfiles/hip2dist.csv
/data
/output/*
!/output/CREDITS.md
!/output/LICENSE.txt
/celestia*.zip

# Python cache and virtual environment
*.pyc
__pycache__
/myenv

# Rust files

/target
/celestia_gaia/celestia_gaia.*

# Editor working files
.vscode
*.kate-swp
