[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arpeggio = "*"
numpy = "*"
astropy = "*"
astroquery = "*"
astropy-healpix = "*"

[dev-packages]
pylint = "*"
black = "*"
maturin = "*"

[requires]
python_version = "3.11"
